@charset "UTF-8";

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Google Fonts */

/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
    --bg-branco: #F5F5F7;
    --preto-75: #000000bf;
    --laranja: #FF3C00;
}

body {
    background-color: var(--bg-branco);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--preto-75);
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Style */


/* Header Style */

header {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 76vw;
    margin: 0 auto;
    height: 8vh;
}

.hamburger {
    display: none;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.logo img {
    height: 2vh;
    display: block;
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4rem;
}

.navigation ul li a {
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #00796b;
}

.button {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.buttonsHeader {
    display: flex;
    gap: 1vw;
}

.button .btn-geral {
    background-color: var(--laranja);
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    text-decoration: none;
}

.button .btn-geral:hover {
    background-color: #fd5d2c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header Style */

/* general */

.general {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 76vw;
    margin: 0 auto;
}

.general h1 {
    font-family: var(--montserrat);
    color: var(--preto-75);
    font-weight: 600;
}

.btn-voltar {
    text-decoration: none;
    color: var(--preto-75);
    transition: all .3s ease;
}

.btn-voltar:hover {
    color: var(--laranja);
}


/* general */

/* itensConfig */
.itensConfig {
    margin-top: 12em;
    font-family: var(--montserrat);
}

.itensConfig ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.itensConfig a {
    text-decoration: none;
    color: #000;
    transition: all .3s ease;
}

.itensConfig a:hover {
    color: #00000085;
}

/* Dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
    color: #000 !important;
}

.dropdown-toggle {
    display: block;
    border-radius: 5px;
    transition: all 0.3s;
}

.dropdown-toggle::after{
    display: none;
}

/* Menu dropdown */
.dropdown-menu {
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid #ddd;
    background-color: var(--bg-branco);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Define um tamanho mínimo */
    width: auto; /* Largura automática */
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}


.dropdown-menu a {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: all .3s ease;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
}

/* Ativar dropdown */
.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* itensConfig */