@charset "UTF-8";

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Google Fonts */

/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
    --bg-branco: #F5F5F7;
    --preto-75: #000000bf;
    --laranja: #FF3C00;
}

body {
    background-color: var(--bg-branco);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--preto-75);
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:focus {
    border-radius: 20px;
}

/* General Style */


/* Header Style */

header {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 76vw;
    margin: 0 auto;
    height: 8vh;
}

.hamburger {
    display: none;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.logo img {
    height: 2vh;
    display: block;
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 4rem;
}

.navigation ul li a {
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #00796b;
}

.button {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.buttonsHeader {
    display: flex;
    gap: 1vw;
}

.button .btn-geral {
    background-color: var(--laranja);
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    text-decoration: none;
}

.button .btn-geral:hover {
    background-color: #fd5d2c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header Style */

/* general */

.general {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 76vw;
    margin: 0 auto;
}

.general h1 {
    font-family: var(--montserrat);
    color: var(--preto-75);
    font-weight: 600;
}

.btn-voltar {
    text-decoration: none;
    color: var(--preto-75);
    transition: all .3s ease;
}

.btn-voltar:hover {
    color: var(--laranja);
}

/* general */

/* cardStatus */

.generalStatus {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
    gap: 20px; /* Espaçamento entre os cards */
    max-width: 76vw;
    margin: 0 auto;
    margin-top: 4em;
}

.cardStatus {
    background-color: #fff;
    height: 15vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.nameStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    font-size: 20px;
    font-weight: bold;
    font-family: var(--montserrat);
}

.btnEditar {
    width: 100%;
    margin-top: auto;
}

.btnEditar button {
    width: 100%;
    padding: 3px;
    border: none;
    background-color: var(--laranja);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
    font-family: var(--montserrat);
}

.btnEditar button:hover {
    background-color: #fd5d2c;
}



/* cardStatus */